$nav-font-color: #171212;
$nav-border-bottom: #e5e8eb;
$nav-background-color: #ffffff;
$nav-hover: #ff8686;
$header-font-color: #ffffff;
$header-main-color: #ffd8c6;
$header-button-color: #de2121;
$header-button-hover: #ff4848;
$box-description: #6b6b6b;
$box-color: #171212;
$footer-color: #876363;
$article-color: #876363;
$blog-description-color: #877063;
$input-bg: #f5f2f0;
$add-new-post-button: #e5611a;
