$nav-font-color: #171212;
$nav-border-bottom: #e5e8eb;
$nav-background-color: #ffffff;
$nav-hover: #ff8686;
$header-font-color: #ffffff;
$header-main-color: #ffd8c6;
$header-button-color: #de2121;
$header-button-hover: #ff4848;
$box-description: #6b6b6b;
$box-color: #171212;
