@use './_colors' as c;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: c.$nav-background-color;
	z-index: 1000;
	border-bottom: 1px solid c.$nav-border-bottom;

	.wrapper {
		display: flex;
		flex-direction: column;
		padding: 2rem;
	}

	&__headers {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		display: block;
		text-decoration: none;
		color: c.$nav-font-color;
		transition: color 0.3s;

		&:hover {
			color: c.$nav-hover;
		}
	}

	&__links {
		display: none;
		text-align: center;
		animation: slide 0.3s ease;
	}

	&__links.active &__link {
		padding: 2rem 0;
	}

	.active {
		display: block;
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-weight: bold;
		font-size: 2rem;
		i {
			font-size: 3rem;
		}
	}

	@keyframes slide {
		from {
			transform: translateY(-1200px);
		}
		to {
			transform: translateY(0);
		}
	}
}

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	&__image {
		position: absolute;
		inset: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../img/background.avif');
	}
	&__shadow {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3rem;
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__text-box {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		color: c.$header-font-color;

		h1 {
			color: c.$header-main-color;
		}

		p {
			line-height: 24px;
		}
	}

	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}

	input {
		padding: 2rem 3rem;

		border: 1px solid transparent;
		border-radius: 12px;
	}

	button {
		padding: 1rem 2rem;
		border: 1px solid transparent;
		color: c.$header-font-color;
		border-radius: 12px;
		background-color: c.$header-button-color;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: c.$header-button-hover;
		}
	}
}

.main {
	padding: 2rem;
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
}

.section {
	margin-top: 6rem;
	&__heading {
		font-size: 2rem;
	}
}

.articles {
	&__container {
		margin-top: 3rem;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}

	&__box {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		max-width: 300px;
		width: 100%;
		text-decoration: none;
		color: c.$box-color;

		h3 {
			font-size: 1.8rem;
		}
		img {
			margin-bottom: 1rem;
			width: 100%;
			height: 180px;
			object-fit: cover;
			object-position: center;
			border-radius: 12px;
		}

		p {
			color: c.$box-description;
		}
	}
}

.about-us {
	p {
		line-height: 2.4rem;
		font-size: 1.8rem;
	}
}

.article {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 12rem 0;

	&__title {
		font-size: 3rem;
	}

	&__date {
		color: c.$article-color;
	}

	img {
		border-radius: 12px;
		width: 100%;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 960px;
	margin: 0 auto;
	width: 100%;

	&__links {
		margin-top: 5rem;
		display: flex;
		justify-content: space-around;
	}

	a {
		text-decoration: none;
		color: c.$footer-color;
	}

	p {
		padding: 2rem;
		font-size: 1.8rem;
		text-align: center;
		color: c.$footer-color;
	}
}

@media (min-width: 576px) {
	.nav {
		.wrapper {
			flex-direction: row;
			justify-content: space-between;
		}

		&__headers {
			border: 0;
		}

		&__links {
			display: flex;
			align-items: center;
			gap: 4rem;
		}

		&__title {
			font-size: 2.5rem;
			i {
				font-size: 3.5rem;
			}
		}

		.hamburger {
			display: none;
		}
	}

	.header {
		margin: 10rem auto;
		height: 60vh;

		&__text-box {
			padding: 4rem;
			gap: 2rem;
			h1 {
				font-size: 4.5rem;
			}

			p {
				line-height: 30px;
				font-size: 2rem;
			}
		}

		input {
			width: 100%;
			max-width: 400px;
		}

		button {
			padding: 1rem 3rem;
		}
	}
}

@media (min-width: 960px) {
	.header {
		max-width: 960px;
		border-radius: 12px;
		overflow: hidden;

		&__text-box {
			padding: 5rem;
			gap: 2rem;
			h1 {
				font-size: 6rem;
			}

			p {
				font-size: 2.2rem;
			}
		}

		input {
			max-width: 500px;
		}
	}
	.section__heading {
		font-size: 3rem;
	}

	.articles {
		margin-top: 0;
	}
}
