<footer class="footer">
    <div class="footer__links">
        <a href="/#about-us">About Us</a>
        <a href="/">Contact Us</a>
        <a href="/">Privacy Policy</a>
    </div>
    <p>War Echoes &copy; <span id="yearField"></span> | Wszelkie prawa zastrzeżone! </p>
</footer>