<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <meta name="description" content=<%=metaDescription %>>
    <meta name="keywords"
        content="World War II, WWII, history, blog, articles, tips, historical events, war consequences, conflicts, historical narratives">
    <link rel="shortcut icon" href="./img/tank.png" type="image/x-icon">
    <link href="./css/hamburger.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/nav.js" defer></script>
    <script src="./js/footer.js" defer></script>