<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Battle of Iwo Jima</title>
    <!-- Generate meta tags to this article :) -->
    <link rel="shortcut icon" href="./img/tank.png" type="image/x-icon">
    <link href="./css/hamburger.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/nav.js" defer></script>
    <script src="./js/footer.js" defer></script>
</head>

<body>
    <nav class="nav">
        <div class="wrapper">
            <div class="nav__headers">
                <a href="#" class="nav__title nav__link"><i class="ti ti-tank"></i> War Echoes</a>
                <button class="hamburger hamburger--spin" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="nav__links">
                <a href="#" class="nav__link">Home</a>
                <a href="#" class="nav__link">About Us</a>
                <a href="#" class="nav__link">Blog</a>
            </div>
        </div>
    </nav>

    <main class="main">
        <section class="section article">
            <h1 class="article__title">The Battle of Iwo Jima</h1>
            <p class="article__date">By John Doe. Publisheed on Jun 6, 2021</p>
            <p class="article__introduction">The Battle of Iwo Jima was a major battle in which the United States Marine
                Corps and Navy captured the
                island of Iwo Jima from the Imperial Japanese Army during World War II. The American invasion,
                designated Operation Detachment, had the goal of capturing the entire island, including the three
                Japanese-controlled airfields, to provide a staging area for attacks on the Japanese main islands. This
                five-week battle comprised some of the fiercest and bloodiest fighting of the Pacific War of World War
                II.
            </p>

            <img src="./img/article.png" alt="alt">

            <p class="article__text">The battle is best known for the iconic photograph Raising the Flag on Iwo
                Jima, taken by Associated
                Press photographer Joe Rosenthal. The battle led to the death of almost 7,000 US servicemen and over
                20,000 Japanese soldiers. After the end of the war, it was discovered that the island was of little
                strategic value to the Americans and was used mostly as an emergency landing strip for damaged bombers.
                The capture of Iwo Jima allowed the US to launch the bombing campaign against Japan, which included the
                atomic bombings of Hiroshima and Nagasaki.</p>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__links">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
        </div>
        <p>War Echoes &copy; <span id="yearField"></span> | Wszelkie prawa zastrzeżone! </p>
    </footer>
</body>

</html>