<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delete</title>
    <!-- Generate meta tags to this article :) -->
    <link rel="shortcut icon" href="./img/tank.png" type="image/x-icon">
    <link href="./css/hamburger.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/nav.js" defer></script>
    <script src="./js/footer.js" defer></script>
</head>

<body>
    <main>
        <section class="delete">
            <h1>Confirm Deletation</h1>
            <p>Are you sure you want to delete this article? This action cannot be undone.</p>
            <div class="button-group">
                <a href="#">Delete</a>
                <a href="#">Cancel</a>
            </div>
        </section>
    </main>
</body>

</html>