<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <main>
            <section class="delete">
                <h1>Confirm Deletation</h1>
                <p>Are you sure you want to delete this article? This action cannot be undone.</p>
                <div class="button-group">
                    <a href="#">Delete</a>
                    <a href="#">Cancel</a>
                </div>
            </section>
        </main>
    </body>

    </html>