<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War Echoes</title>
    <meta name="description"
        content="Explore the fascinating world of World War II on our blog. Discover inspiring articles, tips, and engaging discussions on everything related to the Second World War. Dive into our collection to delve into the history, events, and consequences of this crucial period in human history.">
    <meta name="keywords"
        content="World War II, WWII, history, blog, articles, tips, historical events, war consequences, conflicts, historical narratives">
    <link rel="shortcut icon" href="./img/tank.png" type="image/x-icon">

    <link href="./css/hamburger.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/nav.js" defer></script>
    <script src="./js/footer.js" defer></script>
</head>

<body>
    <nav class="nav">
        <div class="wrapper">
            <div class="nav__headers">
                <a href="#" class="nav__title nav__link"><i class="ti ti-tank"></i> War Echoes</a>
                <button class="hamburger hamburger--spin" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="nav__links">
                <a href="#" class="nav__link">Home</a>
                <a href="#" class="nav__link">About Us</a>
                <a href="#" class="nav__link">Blog</a>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="header__image header__image--post">
            <div class="header__shadow">
                <div class="header__text-box">
                    <h1>The Second World War</h1>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="section new-post">
            <h2>Create New Post</h2>
            <form>
                <input type="text" placeholder="Enter post title">
                <textarea cols="30" rows="10" placeholder="Enter your introduction"></textarea>
                <textarea cols="30" rows="10" placeholder="Enter your text"></textarea>
                <input type="text" placeholder="Enter photo URL">
                <button type="submit">Publish</button>
            </form>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__links">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
        </div>
        <p>War Echoes &copy; <span id="yearField"></span> | Wszelkie prawa zastrzeżone! </p>
    </footer>
</body>

</html>