<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War Echoes</title>
    <meta name="description"
        content="Explore the fascinating world of World War II on our blog. Discover inspiring articles, tips, and engaging discussions on everything related to the Second World War. Dive into our collection to delve into the history, events, and consequences of this crucial period in human history.">
    <meta name="keywords"
        content="World War II, WWII, history, blog, articles, tips, historical events, war consequences, conflicts, historical narratives">
    <link rel="shortcut icon" href="./img/tank.png" type="image/x-icon">

    <link href="./css/hamburger.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/nav.js" defer></script>
    <script src="./js/footer.js" defer></script>
</head>

<body>
    <nav class="nav">
        <div class="wrapper">
            <div class="nav__headers">
                <a href="#" class="nav__title nav__link"><i class="ti ti-tank"></i> War Echoes</a>
                <button class="hamburger hamburger--spin" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="nav__links">
                <a href="#" class="nav__link">Home</a>
                <a href="#about-us" class="nav__link">About Us</a>
                <a href="#" class="nav__link">Blog</a>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="header__image">
            <div class="header__shadow">
                <div class="header__text-box">
                    <h1>The Second World War</h1>
                    <p>The deadliest conflict in human history, the Second World War was fought from 1939 to 1945 and
                        involved almost every country in the world. The war was fought between two alliances: the Axis
                        Powers and the Allied Powers.</p>
                </div>
                <form>
                    <input type="search" placeholder="Search for an event, battle, or person">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="section articles">
            <h2 class="section__heading">Featured Articles</h2>

            <div class="articles__container">
                <a class="articles__box" href="#">
                    <img src="./img/background.avif" alt="image">
                    <h3>Battle of Britain</h3>
                    <p>The first major campaign to be fought entirely by air forces...</p>
                </a>
                <a class="articles__box" href="#">
                    <img src="./img/post.png" alt="image">
                    <h3>Battle of Britain</h3>
                    <p>The first major campaign to be fought entirely by air forces...</p>
                </a>
                <a class="articles__box" href="#">
                    <img src="./img/background.avif" alt="image">
                    <h3>Battle of Britain</h3>
                    <p>The first major campaign to be fought entirely by air forces...</p>
                </a>
                <a class="articles__box" href="#">
                    <img src="./img/post.png" alt="image">
                    <h3>Battle of Britain</h3>
                    <p>The Holocaust was the systematic, state-sponsored persecution and murder of six million Jews by
                        the Nazi regime...</p>
                </a>

                <a class="articles__box" href="#">
                    <img src="./img/background.avif" alt="image">
                    <h3>Battle of Britain</h3>
                    <p>Women played a variety of roles in WWII, serving in the military, working in factories, and
                        more...</p>
                </a>
                <a class="articles__box" href="#">
                    <img src="./img/post.png" alt="image">
                    <h3>Battle of Britain</h3>
                    <p>The first major campaign to be fought entirely by air forces...</p>
                </a>
            </div>
        </section>

        <section class="section about-us" id="about-us">
            <h2 class="section__heading">
                About Us
            </h2>
            <p>
                We are dedicated to providing comprehensive and accurate information about the Second World War. Our
                mission is to educate, commemorate, and inspire through the stories, images, and insights of this
                pivotal historical period.
            </p>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__links">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
        </div>
        <p>War Echoes &copy; <span id="yearField"></span> | Wszelkie prawa zastrzeżone! </p>
    </footer>
</body>

</html>